
h1 {
  text-align: center;
}
.rect {
  width: 180px;
  margin: 0 auto;
}
.rect div {
  float: left;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
}
.search {
  padding-top: 15px;
  padding-bottom: 15px;
}
.butmenu {
  background-color: blue;
}
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    margin-left: 100px;
  }
  .navbar-nav {
    margin-left: 100px;
  }
  .navbar-right {
    margin-right: 80px;
  }
  .jumbotron {
    background-image: url("pic/block2.png");
    padding-left: 0px;
    padding-right: 0px;
    height: 491px;
  }
  .jumbotron a {
    color: #fff;
    background-color: #f98561;
    border-color: #f98561;
    display: inline-block;
    padding: 6px 36px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 30px;
  }
  .textjumb {
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    color: white;
  }
  .container-narrow {
    margin: 0 auto;
    max-width: 1000px;
  }
}
@media (max-width: 767px) {
  [class*="span"],
  .uneditable-input[class*="span"],
  .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .span4 {
    width: 228px;
  }
}
@media (min-width: 1200px) {
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .span4 {
    width: 370px;
  }
}
.marketing {
  position: relative;
}
.marketing .icon {
  float: none;
}
.marketing .service {
  background-color: #2190c1;
  padding: 4px 20px;
  border-radius: 4px;
  position: absolute;
  top: -54px;
  left: 50%;
  margin-left: -65px;
  margin-top: 10px;
  color: white;
}
.marketing .service a {
  color: #2190c1;
}
.portcon {
  width: auto;
  height: auto;
  background-color: #2e3e4f;
}
.portfolio {
  margin-bottom: 20px;
}
.portfolio a {
  color: #fff;
  background-color: #2190c1;
  border-color: #2190c1;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
}
.port {
  margin-top: 50px;
}
.port h3 {
  color: #f98561;
  margin-top: auto;
}
.colport {
  padding-top: 60px;
  text-align: left;
}
.colport p {
  font-size: 11pt;
  margin-top: 10px;
  color: white;
  padding-bottom: 20px;
}
.colport h4 {
  padding-top: 20px;
  color: #f98561;
}
.whatweoffer {
  height: auto;
  background-color: white;
}
.whatweoffer .row {
  margin-right: 0;
  margin-left: 0;
}
.whatweoffer h2 {
  text-align: center;
  color: #2190c1;
}
.whatweoffer .centerp {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}
.whatweoffer .offer h4 {
  color: #2190c1;
}
.whatweoffer .offer p {
  font-size: 13px;
  text-align: justify;
}
.whatweoffer .offer a {
  color: #2190c1;
}
.whatweoffer .offer button {
  float: right;
}
.whatweoffer .offer .but {
  color: #fff;
  background-color: #2190c1;
  border-color: #2190c1;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 4px;
}
.footer {
  margin-right: 0px;
  margin-left: 0px;
  background-color: #2e3e4f;
}
.footer .row {
  margin-right: 0px;
  margin-left: 0px;
}
.footer h3 {
  color: #f98561;
}
.footer .proj {
  padding-right: 0px;
}
.footer p {
  color: #a3afb2;
}
.footer .footcont {
  margin-bottom: 10px;
}
.footer .foot {
  padding-left: 0;
  padding-right: 0;
}
.footer .border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);
  margin-bottom: 8px;
}
.nav .search {
  padding: 0;
}
.nav .search a {
  padding: 9px 0px;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .but {
    float: none !important;
  }
}
